.app-header{
	width:100%;
	height: 50px;
	background: #282828;
	position: absolute;
	top:0px;
	left: 0px;
	display: flex;
	z-index: 5;
}
.app-header .icon-menu{
	width:50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #999;
}
.app-header .title{
	flex: 1;
	color: #efefef;
	line-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.app-header .city{
	display: block;
	width:50px;
	height: 50px;
	color: #999;
	line-height: 50px;
}
.app-header .city .icon-arrow-down{
	font-size: 12px;
	transform: scale(0.3);
}
.app-header .icon-me{
	width:50px;
	height: 50px;
	color: #999;
	line-height: 50px;
	text-align: center;
}