.pic{
    width: 100%;
    height: 210px;
    margin-bottom: 20px;
}
.pic img{
    width:100%;
    height: 100%;
}
.info{
    width:100%;
    padding: 0 20px;
    box-sizing: border-box;
    color: #333;
    font-size: 12px;
}
.info h3{
    font-size: 16px;
    margin-bottom: 15px;
}
.info div{
    margin-bottom: 10px;
    width:100%;
}

.btn{
    width:100%;
    height: 36px;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    left: 0px;
    bottom: 20px;
}
.btn button{
    font-size: 14px;
    min-width: 156px;
    height: 36px;
    line-height: 36px;
    border: none;
    background-color: #fe8233;
    padding: 0;
    margin: 0;
    border-radius: 18px;
    color: #fff;
}