.movieInfo{
    width:100%;
    height: 64px;
    margin: 10px 0;
    background: #FFF;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.movieInfo h2{
    color: #1b1b1b;
    line-height: 22px;
    font-size: 16px;
    margin-top: 10px;
}
.movieInfo p{
    color: #6d6d6d;
    line-height: 20px;
    font-size: 14px;
    margin-top: 5px;
}
.movieInfo span{
    border-radius: 18px;
    border: 1px solid rgba(0,0,0,0.26);
    overflow: hidden;
    color: #36bfd1;
    width: 100px;
    height: 36px;
    font-size: 14px;
    text-align: center;
    line-height: 36px;
    position: absolute;
    right: 20px;
    top:13px;
}
.seat{
    width: 100%;
    background: #FFF;
    position: absolute;
    top:84px;
    left: 0px;
    padding: 0 10px;
    box-sizing: border-box;
    min-height: 300px;
}
.seat .screen{
    width: 95%;
    height: 30px;
    border:1px solid rgba(0,0,0,0.26);
    color: rgba(0,0,0,0.26);
    text-align: center;
    border-radius: 12px;
    position: absolute;
    top:50px;
    left: 10px;
    line-height: 30px;
}
.seat .allSeat {
    position: absolute;
    top:90px;
    left: 10px;
}
.seat .allSeat .rowSeat{
    margin-bottom: 5px;
    overflow: hidden;
}
.seat .allSeat .rowSeat .rownum{
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border:none;
    font-size: 12px;
    float: left;
}
.seat .allSeat .lattice{
    float: left
}
.seat .allSeat .lattice span{
    display: block;
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 5px;
    border: 1px solid #b4b4b4
}
