.slider{
	position: absolute;
	top:50px;
	left: 0px;
	bottom: 0px;
	right: 110px;
	background: #282828;
	z-index: 10;
	transition: 0.5s;
}
.slider a{
	display: block;
	width:100%;
	height: 50px;
	color: #9a9a9a;
	line-height: 50px;
	padding:0 20px;
	box-sizing: border-box;
}
.slider a .icon-arrow-left{
	display: inline-block;
	font-size: 12px;
	line-height: 50px;
	float: right;
}
.cover{
	position: absolute;
	top:50px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	transition: 0.5s;
	z-index: 10;
	display: none;
}
